*{
    text-align:center;
    background-color: beige;
    font-size: 25px;
    font-style: italic;
}

header img{
    display: flex;
    width:300px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.info_content{
    text-align: left;
    display: block;
    border-radius: 10px;
    padding-left: 150px;
    padding-right: 150px;

}

footer{
    display: flex;
    align-items: center;
    padding-top: 120px;
    justify-content: center;
}

footer div{
    flex:1;
    align-items: center;
    justify-content: center;
}

.smalllogo{
    width:120px;
    height:80px;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 100px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    font-style: oblique;
    padding-bottom: 20px;;
}

ul li{
    display:flexbox;
    list-style-type: none;
}

a{
    font-size: 30px;
}

.copyright{
    font-size: 20px;
    font-style: normal;
}
